<header class="cabezera">
    <div class="logo-edo">
        <img src="assets/img/2560px-SEP_Logo_2019.svg.png" alt="">
    </div>
    <div class="logo-tec">
        <img src="assets/img/LOGO-VERTICAL-TECNM.png" alt="">
    </div>
    <div class="logo-tescha">
        <img src="assets/img/teschalogo.png" alt="">
    </div>
</header>

<body>
    <section class="banner contenedor">
        <section class="banner_title">
            <h2>Aprendiendo de <br><span></span></h2>
            <div class="botones">
                <a id="uno" href="/ini-a">Inicia sesion</a>
            </div>
        </section>
        <div class="banner_img">
            <img src="assets/img/integridad.png" alt="">
        </div>
    </section>
</body>