<header>
    <nav>
        <img src="assets/img/logo.png" alt="" class="logo">
        <ul class="menu">
            <li><a href="/dashboard">Inicio</a></li>
            <li><a href="/libros">Libros</a>
                <ul class="submenu">
                    <li><a href="#">Valores</a>
                        <ul class="submenu2">
                            <li><a href="#">Respeto</a></li>
                            <li><a href="#">Honestidad</a></li>
                            <li><a href="#">Empatia</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Derecho</a></li>
                    <li><a href="#">Etica</a></li>
                </ul>
            </li>
            <li><a href="/actividades">Actividades</a>
                <ul class="submenu">
                    <li><a href="#">Actividad 1</a>
                        <ul class="submenu2">
                            <li><a href="#">ACT 1 Respeto</a></li>
                            <li><a href="#">ACT 2 Honestidad</a></li>
                            <li><a href="#">ACT 3 Empatia</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Actividad 2</a></li>
                    <li><a href="#">Acrividad 3</a></li>
                </ul>
            </li>
            <li><a href="/ayuda">Ayuda</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>