@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    background-color: #9e1f47;
    padding: 2 rem 0;
}

nav {
    max-width: 1100px;
    max-width: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    margin-left: 200px;
    max-width: 25%;
}

.menu li {
    position: relative;
}

.menu>li,
.menu>a {
    display: inline-block;
}

.menu a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.menu a:hover {
    background-color: #b99768;
    color: #fff;
    text-decoration: underline;
}


/* Submenu */

.submenu {
    position: absolute;
    left: 0;
    width: 140px;
    background-color: #9e1f47;
    display: none;
}

.submenu2 {
    position: absolute;
    left: 100%;
    width: 140px;
    top: 0;
    background-color: #9e1f47;
    display: none;
}

.menu li:hover>.submenu {
    display: block;
    animation: slideup .3s ease;
}

.menu li:hover>.submenu2 {
    display: block;
    animation: slideleft .3s ease;
}


/* Animaciones */

@keyframes slideup {
    0% {
        transform: translateY(18px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(18px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}