@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.fa-solid {
    cursor: pointer;
    margin-left: 7px;
}

span {
    font-family: 'Poppins', sans-serif;
}

.titulo {
    font-family: 'Poppins', sans-serif;
}

.card {
    .card-body {
        border: 3px solid #b99768;
    }
}

.card {
    .card-body img:hover {
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }
}

.card {
    #uno {
        background-color: #E6E6FA;
    }
}

.card {
    .card-header {
        background-color: #9e1f47;
        border: 2px solid #b99768;
        color: white;
    }
}

.card {
    .card-body a {
        color: black;
    }
}