app-navbar-a {
    position: relative;
    /* o absolute, fixed, sticky */
    z-index: 1000;
    /* cualquier número alto */
}

#carouselExampleIndicators {
    height: 87.5vh;
    /* Ajusta este valor según tus necesidades */
    overflow: hidden;
}

#carouselExampleIndicators .carousel-item {
    height: 100%;
}

#carouselExampleIndicators .carousel-item img {
    height: 100%;
    object-fit: cover;
}